body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}